<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo ReactJS</title>
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script crossorigin src="lib/browser.min.js"></script>
  </head>
  <body>
      <div id="root"></div>
      <script type="text/babel">
      ReactDOM.render( <h1> Thanh Duy </h1>, document.getElementById("root"));
      </script>

  </body>
</html>
